/* Features Section */
.features { 
    padding: 13.125rem 0; /* 210 / 16 = 13.125rem */
    background-color: #fff;
    margin-bottom: 7.5rem; /* 120 / 16 = 7.5rem */
}

.features .orange-line { margin-bottom: 1.5rem; /* 24 / 16 = 1.5rem */ }

.features__title {
    width: 435px;
    font-size: 4.5rem;
    margin-bottom: 4.5rem; /* 72 / 16 = 4.5rem */
}

.features__list { display: flex; }

.feature {
    width: 340px;
    margin-right: 2.5rem; /* 40 / 16 = 2.5rem */
}

.feature:last-child { margin-right: 0; }

.feature__icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 119, 0, 0.2);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 2rem; /* 32 / 16 = 2rem */
}

.feature__title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem; /* 12 / 16 = 0.75rem */
}

.feature__text { width: 314px; }
