/* Footer Section */
.footer {
    padding: 3.4375rem 0; /* 55 / 16 = 3.4375rem */
    background-color: #f8f8f8;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-bottom: 3.25rem; /* 52 / 16 = 3.25rem */
}

.socials {
    display: flex;
    align-items: center;
}

.socials__item:not(:last-child) { margin-right: 1rem; }

.socials__link {
    display: block;
    color: var(--dark-color);
    transition: color .4s ease,
    opacity .4s ease;
}

.socials__link svg { display: block; }

.footer__divider {
    height: 2px;
    border: none;
    margin-bottom: 3.25rem; /* 52 / 16 = 3.25rem */
    background-color: rgba(37, 36, 32, .5);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__links-list { width: 224px; }

.footer__link {
    line-height: 1.8;
    color: var(--dark-color);
    transition: color .4s ease,
    opacity .4s ease;
}
